<!DOCTYPE html>
<html>

<head>
  <title>DKA</title>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel='stylesheet' href="/static/bundle.css" />

  <!-- Material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- bulma link -->
	<%/*
  link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  */%>

  <link rel="shortcut icon" href="/dka.ico">
</head>

<body>
  <div id="root"></div>
  <script src="/static/bundle.js"></script> 
  
</body>

</html>
