.navbar {
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar {
	display: flex;
	justify-content: space-between;
}

.carousel-inner {
	display: flex;
	/*justify-content: space-around;*/
}

.carousel-item {
	overflow: hidden;
	width: 100vw;
}

.carousel-item img {
	/*width: 100%;*/
	/*height: auto;*/
	object-fit: cover;
}

.button {
	margin: 0 10px;
}

.logo {
	/*border-radius: 50%;*/
}

.hamburgerMenu {
	transition: all 300ms ease-in-out;
}

/*hamburger toogle css*/

/*.show {
	display: block;
	position: absolute;
	top: 50%;
	left:100%;
	transform: translateX(-50%);
	width: 12rem;
	background-color: #111;
	padding: 1.4rem 2rem;
}

.hide {
	display: none;
}*/

/*====================*/
/*matirialize css*/
/*====================*/
.nav-item {
	color: green !important;
	/*background: #f4f4f4;*/
}

.sidenav-hero-sec {
	position: relative;
	background-image: url('/flying-kick.png') !important;
	background-size: cover;
	width: 100%;
}
