.navbar {
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

.button {
	margin: 0 10px;
}

.logo {
	/*border-radius: 50%;*/
}

.hamburgerMenu {
	transition: all 300ms ease-in-out;
}

.show {
	display: block;
	position: absolute;
	top: 50%;
	left:100%;
	transform: translateX(-50%);
	width: 12rem;
	background-color: #111;
	padding: 1.4rem 2rem;
}

.hide {
	display: none;
}